USE [master]
GO
/****** Object:  Database [UniversityDBbatch49]    Script Date: 31-Mar-21 7:41:41 PM ******/
CREATE DATABASE [UniversityDBbatch49]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityDBbatch49', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UniversityDBbatch49.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UniversityDBbatch49_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\UniversityDBbatch49_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityDBbatch49].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityDBbatch49]
GO
/****** Object:  Table [dbo].[Department_tb]    Script Date: 31-Mar-21 7:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](50) NULL,
	[ShortName] [varchar](50) NULL,
 CONSTRAINT [PK_Department_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_tb]    Script Date: 31-Mar-21 7:41:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_tb](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [varchar](50) NULL,
	[RegNo] [int] NULL,
	[Email] [varchar](50) NULL,
	[Address] [varchar](50) NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK_Student_tb] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Student_tb]  WITH CHECK ADD  CONSTRAINT [FK_Student_tb_Department_tb] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department_tb] ([Id])
GO
ALTER TABLE [dbo].[Student_tb] CHECK CONSTRAINT [FK_Student_tb_Department_tb]
GO
USE [master]
GO
